bin/
obj/
third/sift/match/debug
third/ransac/source/SVD/Release
third/matrix/debug
third/homography/debug
third/rxengine/third/
source/generatedfiles/
sourceold/generatedfiles/
*.vcxproj*
*ipch*
*.sln
*.suo
*.sdf
*.opensdf
*.user
*.o
*~
