bin/
obj/
third/sift/match/debug
third/ransac/source/SVD/Release
third/matrix/debug
third/homography/debug
source/generatedfiles/
sourceold/generatedfiles/
*debug*
*corresp*
*ipch*
*.suo
*.sdf
*.opensdf
*.user
*.o
*~
